.top {
  width: 100vw;
  height: 258px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top h4 {
  font-size: 16px;
  color: #9e3ffd;
  margin-left: 196px;
}

.top h2 {
  font-size: 36px;
  width: 421px;
  text-align: center;
  margin-left: 196px;
}

.bot {
  display: flex;
  height: 500px;
}

.plan {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.business {
  background-color: inherit;
}

.assist {
  background-color: inherit;
}

.ottim {
  background-color: inherit;
}


.logo_business,
.logo_assist,
.logo_ottim {
  width: 115px;
  height: 120px;
  border: 1px solid black;
}

/*.logo_assist {
  width: 118px;
  height: 93px;
  border: 1px solid black;

}

.logo_ottim {
  width: 105px;
  height: 107px;
  border: 1px solid black;

}*/

.logo_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_name h4 {
  font-size: 16px;
  font-weight: bold;
}

.logo_name p {
  width: 299px;
  height: 54px;
  text-align: center;

}